{% extends "base.html" %}

{% block title %}DC cards{% endblock title %}

{% block body %}
<div class="Left">
<h2>hand</h2>
<form action="" method="post">
<input name="formName" value="hand" type="hidden"/>
<table>
<caption>hand</caption>
<thead><tr><th></th><th>name</th><th>power</th><th>text</th></tr></thead>
<tbody>
{% for card in hand %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.power}}</td><td>{{card.text}}</td></tr>
{% endfor %}
{% if ongoings.cards|length %}
<tr><td></td><td></td><td></td><td></td></tr>
{% for card in ongoings %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.power}}</td><td>{{card.text}}</td></tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<div class="FormButtons">
<input name="submit" type="submit" Value="discard"/>
<input name="submit" type="submit" Value="end_turn"/>
<input name="submit" type="submit" Value="pin"/>
<input name="submit" type="submit" Value="unpin"/>
</div>
</form>
</div>

<div class="Right">
<h2>lineup</h2>
<form action="" method="post">
<input name="formName" value="lineup" type="hidden"/>
<table>
<caption>lineup</caption>
<thead><tr><th></th><th>name</th><th>cost</th><th>VP</th><th>power</th><th>text</th></tr></thead>
<tbody>
{% for card in lineup %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.cost}}</td><td>{{card.VP}}</td><td>{{card.power}}</td><td>{{card.text}}</td></tr>
{% endfor %}
</tbody>
</table>
<div class="FormButtons">
<input name="submit" type="submit" Value="destroy"/>
<input name="submit" type="submit" Value="aquire"/>
</div>
</form>
</div>

<div class="Left">
<h2>deck</h2>
<form action="" method="post">
<input name="formName" value="deck" type="hidden"/>
<table>
<caption>deck</caption>
<thead><tr><th></th><th>name</th><th>power</th><th>text</th></tr></thead>
<tbody>
{% for card in deck %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.power}}</td><td>{{card.text}}</td></tr>
{% endfor %}
</tbody>
</table>
<div class="FormButtons">
<input name="submit" type="submit" Value="deal"/>
</div>
</form>
</div>

<div class="Right">
<h2>discard</h2>
<form action="" method="post">
<input name="formName" value="discard" type="hidden"/>
<table>
<caption>discard</caption>
<thead><tr><th></th><th>name</th><th>power</th><th>text</th></tr></thead>
<tbody>
{% for card in discard %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.power}}</td><td>{{card.text}}</td></tr>
{% endfor %}
</tbody>
</table>
<div class="FormButtons">
<input name="submit" type="submit" Value="destroy"/>
<input name="submit" type="submit" Value="undeal"/>
<input name="submit" type="submit" Value="shuffle"/>
</div>
</form>
</div>

<h2>master List</h2>
<form action="" method="post">
<input name="formName" value="card_list" type="hidden"/>
<table>
<caption>master list</caption>
<thead><tr><th></th><th>name</th><th>text</th></tr></thead>
<tbody>
{% for card in cards %}
<tr><td><input name="{{card.id}}" id="{{card.id}}" type="checkbox"/></td><td>{{card.name}}, {{card.type}}</td><td>{{card.text}}</td></tr>
{% endfor %}
</tbody>
</table>
<div class="FormButtons">
<input name="submit" type="submit" value="create"/>
</div>
</form>
{% endblock body %}
